anyio
argon2-cffi
argon2-cffi-bindings
asttokens==3.0.1
async-lru 
attrs
babel 
beautifulsoup4
bleach 
blinker==1.9.0
Bottleneck 
brotlicffi 
certifi 
cffi 
charset-normalizer
click 
colorama==0.4.6
comm==0.2.3
contourpy
cycler 
debugpy==1.8.17
decorator==5.2.1
defusedxml 
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema 
Flask==3.1.2
fonttools
h11 
html5lib 
httpcore 
httpx 
idna 
ipykernel==6.29.5
ipython==8.37.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2 
joblib 
json5 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server 
jupyter_server_terminals 
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib==3.10.8
matplotlib-inline==0.2.1
mistune
mkl-service==2.5.2
mkl_fft
mkl_random
munkres==1.1.4
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
nltk
notebook_shim
numexpr
numpy 
overrides
packaging==25.0
pandas 
pandocfilters
parso==0.8.5
patsy
pillow
platformdirs==4.5.0
prometheus_client
prompt_toolkit==3.0.52
psutil==7.1.3
pure_eval==0.2.3
pycparser
Pygments==2.19.2
pyparsing
PySide6==6.9.2
PySocks
python-dateutil==2.9.0.post0
python-json-logger
pytz
pywin32 
pywinpty
PyYAML 
pyzmq==27.1.0
referencing 
regex  
rfc3339-validator
rfc3986-validator 
rpds-py 
scikit-learn 
scipy 
requests
seaborn 
Send2Trash
shiboken6==6.9.2
six==1.17.0
sniffio
soupsieve
stack-data==0.6.3
statsmodels
terminado
threadpoolctl
tinycss2
tomli
tornado==6.5.2
tqdm
traitlets==5.14.3
typing_extensions==4.15.0
tzdata
unicodedata2
urllib3 
wcwidth==0.2.14
webencodings==0.5.1
websocket-client 
Werkzeug==3.1.4
win_inet_pton
